<% if(typeof showQuestions != 'undefined') { %>
    <% showQuestions.forEach(function(question,i) { %>
        <%- question %>
        <% if(typeof questionFeedback != 'undefined') { %>
            <% if(questionFeedback[i][0] == 1) { %>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Correct!</h4>
                    <p>You Selected: <%= questionFeedback[i][1] %></p>
                    <p>The Correct Answer Was: <%= questionFeedback[i][2] %></p>
                    <hr>
                    <p class="mb-0"><%= questionFeedback[i][3] %></p>
                </div>
            <% } else { %>
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Incorrect!</h4>
                    <p>You Selected: <%= questionFeedback[i][1] %></p>
                    <p>The Correct Answer Was: <%= questionFeedback[i][2] %></p>
                    <hr>
                    <p class="mb-0"><%= questionFeedback[i][3] %></p>
                </div>
            <% } %>
        <% } %>
    <% }); %>
<% } %>