<% if(typeof displayThis != 'undefined') { %>
    <% var count = 0; %>
    <% for (var P_key in displayThis) { %>
        <h2><%= P_key %></h2> 
        <% for (var key in displayThis[P_key]) { %>
            <h4><%= key %></h4> 
            <% for (var question in displayThis[P_key][key]) { %>
                <p><%- displayThis[P_key][key][question] %></p> 
                <% if(typeof questionFeedback != 'undefined') { %>
                    <% if(questionFeedback[count][0] == 1) { %>
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Correct!</h4>
                            <p>You Selected: <%= questionFeedback[count][1] %></p>
                        </div>
                    <% } else { %>
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Incorrect!</h4>
                            <p>You Selected: <%= questionFeedback[count][1] %></p>
                        </div>
                    <% } %>
                    <% count = count + 1; %>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
<% } %>