<html>
    <head>
        <%- include('achievement_head') %>
    </head>
    <body>
        <header>
            <%- include('../global_header') %>
        </header>
        <br><br>
        <h1 align="center">My Achievements</h1>
        <br>
        <%- include('../partials/showAchievementLesson') %>
        <%- include('../partials/showAchievementLab') %>
        <%- include('../partials/showAchievementQuiz') %>
        <footer>
            <%- include('../global_footer') %>
        </footer>
    </body>
    </html>
    