<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('teacher_head') %>
</head>
<body> 
	<header>
        <%- include('../global_header') %>
    </header>
	<br><br>

<h1 align="center">Create New Teacher Account</h1>
<h2 align="center">Please sign up for an account to get started.</h2>
<h3 align="center">Already have an account? <a href = "login">Login Here </a> </h3>
<div class="container">
	<div class="center-t">
		<button Name = "T" type="submit" onclick="window.location.href = 'teacherregister';"><span>Teacher</span></button>
	</div>
	<div class="center-s">
		<button Name = "T" type="submit" onclick="window.location.href = 'studentregister';"><span>Student</span></button>
	</div>
</div>
<br><br><br><br>
<div class="inputfields">
	<form action="/teacherregister" method="POST">
		<%- include('../partials/messages') %>
		<label for="fname"><b>First Name</b></label><br>
		<input type="text" placeholder="First Name" name="fname" id="fname" value="<%= typeof fname != 'undefined' ? fname : '' %>" required><br>
		<span id="firstname" class="text-danger"></span>
		
		<label for="lname"><b>Last Name</b></label><br>
		<input type="text" placeholder="Last Name" name="lname" id="lname" value="<%= typeof lname != 'undefined' ? lname : '' %>" required><br>
	
		<label for="emailadd"><b>Email Address</b></label><br>
		<input type="email" placeholder="Email Address" name="emailadd" id="emailadd" value="<%= typeof emailadd != 'undefined' ? emailadd : '' %>" required><br>

		<label for="pass"><b>Password</b></label><br>
		<input type="password" placeholder="Password" name="pass" id="pass" required><br>
	
		<label for="confirmpass"><b>Confirm Password</b></label><br>
		<input type="password" placeholder="Confirm Password" name="confirmpass" id="confirmpass" required><br>
		
		<label for="school"><b>School (optional)</b></label><br>
		<input type="text" placeholder="Enter Your School Name Here" name="school" id="school"><br>
		
		<label for="state"><b>Enter State (optional)</b></label><br>
		<select name="state" id="state">
		  <option value="" selected="selected">Select a State</option>
		  <option value="Alabama">Alabama</option>
		  <option value="Alaska">Alaska</option>
		  <option value="Arizona">Arizona</option>
		  <option value="Arkansas">Arkansas</option>
		  <option value="California">California</option>
		  <option value="Colorado">Colorado</option>
		  <option value="Connecticut">Connecticut</option>
		  <option value="Delaware">Delaware</option>
		  <option value="District Of Columbia">District Of Columbia</option>
		  <option value="Florida">Florida</option>
		  <option value="Georgia">Georgia</option>
		  <option value="Hawaii">Hawaii</option>
		  <option value="Idaho">Idaho</option>
		  <option value="Illinois">Illinois</option>
		  <option value="Indiana">Indiana</option>
		  <option value="Iowa">Iowa</option>
		  <option value="Kansas">Kansas</option>
		  <option value="Kentucky">Kentucky</option>
		  <option value="Louisiana">Louisiana</option>
		  <option value="Maine">Maine</option>
		  <option value="Maryland">Maryland</option>
		  <option value="Massachusetts">Massachusetts</option>
		  <option value="Michigan">Michigan</option>
		  <option value="Minnesota">Minnesota</option>
		  <option value="Mississippi">Mississippi</option>
		  <option value="Missouri">Missouri</option>
		  <option value="Montana">Montana</option>
		  <option value="Nebraska">Nebraska</option>
		  <option value="Nevada">Nevada</option>
		  <option value="New Hampshire">New Hampshire</option>
		  <option value="New Jersey">New Jersey</option>
		  <option value="New Mexico">New Mexico</option>
		  <option value="New York">New York</option>
		  <option value="North Carolina">North Carolina</option>
		  <option value="North Dakota">North Dakota</option>
		  <option value="Ohio">Ohio</option>
		  <option value="Oklahoma">Oklahoma</option>
		  <option value="Oregon">Oregon</option>
		  <option value="Pennsylvania">Pennsylvania</option>
		  <option value="Rhode Island">Rhode Island</option>
		  <option value="South Carolina">South Carolina</option>
		  <option value="South Dakota">South Dakota</option>
		  <option value="Tennessee">Tennessee</option>
		  <option value="Texas">Texas</option>
		  <option value="Utah">Utah</option>
		  <option value="Vermont">Vermont</option>
		  <option value="Virginia">Virginia</option>
		  <option value="Washington">Washington</option>
		  <option value="West Virginia">West Virginia</option>
		  <option value="Wisconsin">Wisconsin</option>
		  <option value="Wyoming">Wyoming</option>
		</select>		
		<input type="submit">
	</form>
</div>
<br>
<br>
<footer>
    <%- include('../global_footer') %>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>