<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('setting_head') %>
</head>
<body>
	<header>
        <%- include('../global_header') %>
	</header>
	<h1 class="titlestyle">Account Settings</h1>
	<div class="containerform">
		<form action="/user/updateAccountInfo" method="POST">
		  <label for="fname">First Name</label>
		  <input type="text" id="fname" name="firstname" value="<%= typeof fname != 'undefined' ? fname : '' %>" required>
		  
		  <label for="fname">Last Name</label>
		  <input type="text" id="lname" name="lastname" value="<%= typeof lname != 'undefined' ? lname : '' %>" required> 
	  
		  <label for="emailad">Email</label>
		  <input type="text" id="email" name="emailaddress" value="<%= typeof email != 'undefined' ? email : '' %>" required>

		  <label for="cpassword">Enter Password</label>
		  <input type="text" id="curpassword" name="currenpassword" required>

		  <input type="submit" value="Save Changes">
		</form>
	</div>

	<div class="containerform">
		<%- include('../partials/changePassword') %>
		<form action="/user/updateUserPassword" method="POST">
		  <label for="cpassword">Current Password</label>
		  <input type="text" id="curpassword" name="currenpassword">
	  
		  <label for="npassword">New Password</label>
		  <input type="text" id="nepassword" name="newpassword">
	  
		  <label for="rpassword">Re-enter new password</label>
		  <input type="text" id="repassword" name="reenterpassword">

		  <input type="submit" value="Change password">
		</form>
	</div>
    <br><br><br><br><br>


	<footer>
        <%- include('../global_footer') %>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>